
USE [master]
GO

/****** Object:  Database [FRSYSTEM_DATABASE]     ******/
CREATE DATABASE [FRSYSTEM_DATABASE]
 GO


USE [FRSYSTEM_DATABASE]
GO

/****** Object:  Table [dbo].[attendance]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[studentid] [int] NULL,
	[dateandtime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[studentid] [int] NULL,
	[imgface] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[attendance] ON 

INSERT [dbo].[attendance] ([Id], [name], [studentid], [dateandtime]) VALUES (29, N'Steven', 100, CAST(N'2019-04-30T17:36:04.307' AS DateTime))
INSERT [dbo].[attendance] ([Id], [name], [studentid], [dateandtime]) VALUES (30, N'Steven', 100, CAST(N'2019-04-30T20:04:24.590' AS DateTime))
INSERT [dbo].[attendance] ([Id], [name], [studentid], [dateandtime]) VALUES (31, N'Steven', 100, CAST(N'2019-04-30T20:05:07.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[attendance] OFF
SET IDENTITY_INSERT [dbo].[student] ON 

SET IDENTITY_INSERT [dbo].[student] OFF
USE [master]
GO
